.yani-hero{
	position: relative;
}
.yani-hero-content{
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}

.yani-hero-content .btn-lg {
    font-size: 4em;
}


.yani-hero-content .btn-lg {
    font-size: 4em;
}

.yani-hero-content .btn-md {
    font-size: 2em;
}

.yani-hero-content .btn-sm {
    font-size: 1em;
}